# MongoDB Connection URI
MONGODB_URI=mongodb://localhost:27017/anwartv

# NextAuth Secret (generate one using: openssl rand -base64 33)
AUTH_SECRET=your_auth_secret_here

# Upstash Redis Credentials (optional for local development, caching will fallback gracefully if not defined)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
